<p>
Analyzing genome variants through cell or tissue gene expression is known as expression
quantitative trait locus (eQTL) analysis. eQTL analysis identifies loci that explain
variation in transcript abundance. Specifically, genetic variants underlying eQTL explain
variation in gene expression levels. eQTL analysis can reveal the architecture of
quantitative traits, connect DNA sequence variation to phenotypic variation, and shed
light on transcriptional regulation and regulatory variation. Traditional analytic
techniques like linkage and association mapping can be applied to thousands of gene
expression traits (transcripts) in eQTL analysis, such that gene expression can be mapped
in much the same way as a physiological phenotype like blood pressure or heart rate.
Joining gene expression and physiological phenotypes with genetic variation can uncover
genes with variants affecting disease phenotypes. This lesson teaches eQTL analysis using
qtl2, a R package for analyzing quantitative phenotypes and genetic data from complex
crosses like the Diversity Outbred (DO). The course includes a published analytical
workflow from a study of DO mice.
</p>
