<section id="schedule">
  <h3>Wednesday, Dec 11</h3>
  <table class="table table schedule table-striped" role="presentation">
    <tbody>
      <tr><td>BEFORE</td><td><a href="https://smcclatchy.github.io/eqtl-mapping/instructor/index.html#setup">Setup Instructions</a></td>
      </tr>
      <tr><td>9:00</td>
        <td><a href="https://smcclatchy.github.io/eqtl-mapping/index.html">Workshop overview</a></td>
      </tr>      
      <tr><td>9:15</td>
        <td><a href="https://smcclatchy.github.io/eqtl-mapping/introduction.html">Introduction</a></td>
      </tr>
      <tr><td>9:35</td>
        <td><a href="https://smcclatchy.github.io/eqtl-mapping/instructor/review-eqtl-study.html">Genetic Drivers of Pancreatic Islet Function</a></td>
      </tr>
      <tr>
        <td>10:00</td>
        <td><a href="https://smcclatchy.github.io/eqtl-mapping/instructor/load-explore-data.html">Load and Explore Data</a></td>
      </tr>
      <tr><td>10:30</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>10:45</td>
        <td><a href="https://smcclatchy.github.io/eqtl-mapping/instructor/map-one-eqtl.html">Mapping A Single Gene Expression Trait</a></td>
      </tr>
      <tr><td>12:00</td>
        <td>Lunch</td>
      </tr>
      <tr>
        <td>1:00</td>
        <td><a href="https://smcclatchy.github.io/eqtl-mapping/instructor/map-many-eqtls.html">Mapping Many Gene Expression Traits</a></td>
      </tr>
      <tr><td>2:00</td>
        <td><a href="https://smcclatchy.github.io/eqtl-mapping/instructor/maximum-peaks-genes.html">Maximum eQTL Peaks and Nearby Genes</a></td>
      </tr>
      <tr><td>2:30</td>
        <td>Break</td>
      </tr>
      <tr><td>2:45</td>
        <td><a href="https://smcclatchy.github.io/eqtl-mapping/instructor/create-transcriptome-map.html">Creating A Transcriptome Map</a></td>
      </tr>
      <tr><td>4:00</td>
        <td>END</td>
      </tr>
    </tbody>
  </table>
  <h3>Thursday, Dec 12</h3>
  <table class="table table schedule table-striped" role="presentation">
    <tbody>
      <tr><td>9:00</td>
        <td><a href="https://smcclatchy.github.io/eqtl-mapping/instructor/index.html">Recap of day 1</a></td>
      </tr>
      <tr><td>9:30</td>
        <td><a href="https://smcclatchy.github.io/eqtl-mapping/instructor/interpret-results.html">Interpreting qtl2 results</a></td>
      </tr>
      <tr><td>10:00</td>
        <td><a href="https://smcclatchy.github.io/eqtl-mapping/instructor/mediation-analysis.html">Mediation Analysis</a></td>
      </tr>
      <tr><td>10:30</td>
         <td>Break</td>
      </tr>
      <tr>
        <td>10:45</td>
        <td><a href="https://smcclatchy.github.io/eqtl-mapping/instructor/mediation-analysis.html">Mediation Analysis (continued)</a></td>
      </tr>
      <tr><td>12:00</td>
        <td>Lunch</td>
      </tr>
      <tr>
        <td>1:00</td>
        <td><a href="https://smcclatchy.github.io/eqtl-mapping/instructor/mediation-analysis.html">Mediation Analysis (continued)</a></td>
      </tr>
      <tr><td>2:30</td>
        <td>Break</td>
      </tr>
      <tr><td>2:45</td>
      </tr>
      <tr><td>4:00</td>
        <td>END</td>
      </tr>
    </tbody>
  </table>
  <p>
    The actual schedule may vary slightly depending on the topics and exercises chosen by the instructor.
  </p>
