<div class="row">
  <div class="col-md-6">
  <h3>Wednesday, Dec 11</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="">Follow setup instructions</a> </td> </tr>
      <tr> <td>09:00</td>  <td><a href="https://smcclatchy.github.io/mapping/01-introduction/">Introductions and Workshop Overview</a></td> </tr>
      <tr> <td>09:30</td>  <td><a href="https://github.com/smcclatchy/mapping/blob/gh-pages/files/Gatti_DO_qtl2_workshop_2019.pptx">Quantitative trait locus mapping in multiparent crosses
 (download ppt)</a></td> </tr>
      <tr> <td>10:45</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://smcclatchy.github.io/mapping/02-input-file-format/">Input File Format</a></td> </tr>
      <tr> <td>11:30</td>  <td><a href="https://smcclatchy.github.io/mapping/03-calc-genoprob/">Calculating Genotype Probabilities</a></td> </tr>
      <tr> <td>12:30</td>  <td>Lunch</td> </tr>
      <tr> <td>1:30</td>  <td><a href="https://smcclatchy.github.io/mapping/04-special-x-covar/">Special covariates for the X chromosome</a></td> </tr>
      <tr> <td>2:00</td>  <td><a href="https://smcclatchy.github.io/mapping/05-perform-genome-scan/">Performing a genome scan</a></td> </tr>
      <tr> <td>3:00</td>  <td>Coffee</td> </tr>
      <tr> <td>3:15</td>  <td><a href="https://smcclatchy.github.io/mapping/06-perform-perm-test/">Performing a permutation test</a></td> </tr>
      <tr> <td>3:45</td>  <td><a href="https://www.surveymonkey.com/r/post-mapping">Post-workshop survey</a> </td> </tr>
      <tr> <td>3:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>4:00</td>  <td>End</td> </tr>
    </table>
  </div>
</div>
