{% include install_instructions/r.html %}

<p>
After installing R and RStudio, start RStudio.
</p>
    
<h3>R packages</h3>
  <p>
    Install all required packages by copying and pasting the following code into the R console. 
  </p>

<code>
<p>install.packages(c("tidyverse", "ggbeeswarm", "knitr", "qtl2", "remotes"))</p>

<p>if (!require("BiocManager", quietly = TRUE))</p>
    install.packages("BiocManager")

<p>BiocManager::install("AnnotationHub")</p>
<p>BiocManager::install("DeSeq2")</p>
<p>BiocManager::install("rtracklayer")</p>

<p>remotes::install_github("StoreyLab/qvalue")</p>
</code>

<p>
</p>
<p>
Once the installation is complete, load the libraries to make sure that they installed correctly.  
</p>

<p><code>library(tidyverse)</code></p>
<p><code>library(ggbeeswarm)</code></p>
<p><code>library(knitr)</code></p>
<p><code>library(qvalue)</code></p>
<p><code>library(qtl2)</code></p>
<p><code>library(AnnotationHub)</code></p>
<p><code>library(DESeq2)</code></p>
<p><code>library(rtracklayer)</code></p>

<p>
If the libraries don't load and you received errors during the installation, please contact the instructors before the workshop to help you.  
</p>

<h3>Project organization</h3>

<ol>
<li>Create a new project in your Desktop called <code>eqtl_mapping</code>.</li>
    <ul>
        <li>Click the <code>File</code> menu button, then <code>New Project</code>.</li>
        <li>Click <code>New Directory</code>.</li>
        <li>Click <code>New Project</code>.</li>
        <li>Type <code>eqtl_mapping</code> as the directory name. Browse to your Desktop to create the project there.</li>
        <li>Click the <code>Create Project</code> button.</li>
    </ul>

<li>Use the <code>Files</code> tab to create  a <code>data</code> folder to hold the data, a <code>scripts</code> folder to house your scripts, and a <code>results</code> folder to hold results.</li> 

<p>Alternatively, you can use the  R console to run the following commands for step 2 only. You still need to create a  project with step 1.</p>

<p><code>dir.create("./data")</code></p>
<p><code>dir.create("./scripts")</code></p>
<p><code>dir.create("./results")</code></p>

</ol>

<h3>Data Sets</h3>

<p>
For this course, we will have several data files which you will need to download to the <code>data</code> directory in the project folder on your Desktop. Download files from the 
<a href="https://github.com/smcclatchy/eqtl-mapping/tree/main/episodes/data">Github lesson repository</a>.
You will need to download them one by one using the direct links below. For each file, locate the download button at upper right. Repeat this process for each file. Then move the files from wherever your downloads go (e.g. <code>Downloads</code>) to the <code>data</code> directory in the <code>eqtl_mapping</code> project. You can use a graphical user interface (e.g. Windows File Explorer, Mac Finder) to move the files.
</p>

<p>
1. <p><a href="https://github.com/smcclatchy/eqtl-mapping/blob/main/episodes/data/attie_do_pheno.rds">physiological phenotypes</a></p>
2. <p><a href="https://github.com/smcclatchy/eqtl-mapping/blob/main/episodes/data/attie_do_pheno_dict.rds">phenotype dictionary</a></p>
3. <p><a href="https://github.com/smcclatchy/eqtl-mapping/blob/main/episodes/data/attie_do_covar.rds">covariates</a></p>
4. <p><a href="https://github.com/smcclatchy/eqtl-mapping/blob/main/episodes/data/attie_do_expr_annot.rds">gene annotations</a></p>
5. <p><a href="https://github.com/smcclatchy/eqtl-mapping/blob/main/episodes/data/attie_do_expr_raw.rds">raw gene expression</a></p>
6. <p><a href="https://github.com/smcclatchy/eqtl-mapping/blob/main/episodes/data/attie_do_map.rds">map</a></p>
7. <p><a href="https://github.com/smcclatchy/eqtl-mapping/blob/main/episodes/data/attie_do_kinship.rds">kinship</a></p>
8. <p><a href="https://github.com/smcclatchy/eqtl-mapping/blob/main/episodes/data/ins_tauc_blup_chr11.rds">chromosome 11 insulin blups</a></p>
9. <p><a href="https://github.com/smcclatchy/eqtl-mapping/blob/main/episodes/data/hnf1b_blup_chr11.rds">chromosome 11 Hnf1b blups</a></p>
</p>


<p>
Copy, paste, and run the following code in the RStudio console to download the genotype probabilities for the gene expression study we will explore in this lesson.
</p>

<code>
download.file(url      = "https://thejacksonlaboratory.box.com/shared/static/4hy4hbjyrxjbrzh570i4g02r62bx3lgk.rds",
              destfile = "data/attie_DO500_genoprobs_v5.rds",
              mode     = "wb")
</code>
