<p id="who">
  <strong>Who:</strong>
  The course is aimed at researchers who want to employ eQTL analysis to identify,
  quantify, and characterize expression quantitative trait loci.
  <strong>
    Prerequisites:
  </strong>
  Some R programming skills are required for successful participation.
  If you can manipulate R data structures (e.g. lists, matrices, data frames) you are
  ready for this course. You will also need to know QTL mapping with qtl2, which you can
  learn from from the
  <a href="https://smcclatchy.github.io/mapping/">Quantitative Trait Mapping</a> lesson
  and from Karl Broman's<a href="https://kbroman.org/qtl2/">qtl2</a> user guide and
  other documentation. Knowledge of genetics and statistics will also help you gain the
  most from this course. To ensure that all participants receive the support that they
  need during training, <b>remote participation will not be made available</b>. You must
  attend in person and on-site.
</p>
